body
{
    background-image:url(imagenes/fondo.jpg);
    background-size: cover;
}

.MiPanel
{
    margin-top: 35%;
    margin-left: 35%;
    margin-right: 35%;
    background-color: darkseagreen;
    text-align: center;
    color: black;
}